@model IEnumerable<MVC_CRUD_DiplomadoUASD_Empleados_Models.Models.TBL_EMPLEADO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_DEPARTAMENTO.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_PUESTO.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_DEPARTAMENTO.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_PUESTO.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Empleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Empleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Empleado })
        </td>
    </tr>
}

</table>
